services:
  spark-master:
    image: spark:latest
    command: bash -c "/opt/spark/sbin/start-master.sh && sleep infinity"
    ports:
      - "8080:8080"
      - "7077:7077"
      - "4040:4040"
    networks:
      - minio-net

  spark-worker:
    image: spark:latest
    command: bash -c "/opt/spark/sbin/start-worker.sh spark://spark-master:7077 && sleep infinity"
    ports:
      - "8081:8081"
    networks:
      - minio-net

  jupyter:
    image: quay.io/jupyter/pyspark-notebook
    ports:
      - "8888:8888"
    environment:
      - JUPYTER_TOKEN=secret
    volumes:
      - ./notebooks:/home/jovyan
    networks:
      - minio-net

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin123456"
    volumes:
      - ./data:/data
    networks:
      - minio-net
  aws-cli:
    image: amazon/aws-cli:latest
    ports:
      - "9002:9002"
    environment:
      AWS_ACCESS_KEY_ID: "minioadmin"
      AWS_SECRET_ACCESS_KEY: "minioadmin123456"
    entrypoint: ["/bin/sh", "-c"]
    command: ["sleep infinity"]
    networks:
      - minio-net
    depends_on:
      - minio
    volumes:
      - ./data:/data

networks:
  minio-net: