version: "3.8"

services:
  namenode:
    image: apache/hadoop:3.4.1
    container_name: namenode
    hostname: namenode
    environment:
      HADOOP_HEAPSIZE: "512"
      HADOOP_NAMENODE_INIT_HEAPSIZE: "256"
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - ./csv/habits_rows.csv:/home/habits_rows.csv
      - ./csv/tasks_rows.csv:/home/tasks_rows.csv
      - namenode_data:/hadoop/dfs/name
      - ./python/mapper.py:/home/mapper.py
      - ./python/reducer.py:/home/reducer.py
    command: |
      sh -c "
      hdfs namenode -format || true &&
      hdfs namenode
      "
    networks:
      - hadoop

  datanode1:
    image: apache/hadoop:3.4.1
    container_name: datanode1
    hostname: datanode1
    environment:
      HADOOP_HEAPSIZE: "256"
    ports:
      - "9864:9864"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - datanode1_data:/hadoop/dfs/data
    command: |
      sh -c "
      sleep 10 &&
      hdfs datanode
      "
    depends_on:
      - namenode
    networks:
      - hadoop

  datanode2:
    image: apache/hadoop:3.4.1
    container_name: datanode2
    hostname: datanode2
    environment:
      HADOOP_HEAPSIZE: "256"
    ports:
      - "9865:9864"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - datanode2_data:/hadoop/dfs/data
    command: |
      sh -c "
      sleep 10 &&
      hdfs datanode
      "
    depends_on:
      - namenode
    networks:
      - hadoop

  datanode3:
    image: apache/hadoop:3.4.1
    container_name: datanode3
    hostname: datanode3
    environment:
      HADOOP_HEAPSIZE: "256"
    ports:
      - "9869:9864"
    volumes:
      - ./conf/core-site.xml:/opt/hadoop/etc/hadoop/core-site.xml
      - ./conf/hdfs-site.xml:/opt/hadoop/etc/hadoop/hdfs-site.xml
      - datanode3_data:/hadoop/dfs/data
    command: |
      sh -c "
      sleep 10 &&
      hdfs datanode
      "
    depends_on:
      - namenode
    networks:
      - hadoop

  resourcemanager:
    image: apache/hadoop:3.4.1
    container_name: resourcemanager
    hostname: resourcemanager
    ports:
      - "8088:8088"
    environment:
      HADOOP_CONF_DIR: /etc/hadoop/conf
      HADOOP_HEAPSIZE: "512"
    volumes:
      - ./conf/core-site.xml:/etc/hadoop/conf/core-site.xml
      - ./conf/hdfs-site.xml:/etc/hadoop/conf/hdfs-site.xml
      - ./conf/yarn-site.xml:/etc/hadoop/conf/yarn-site.xml
      - ./conf/capacity-scheduler.xml:/etc/hadoop/conf/capacity-scheduler.xml
    command: yarn resourcemanager
    depends_on:
      - namenode
    networks:
      - hadoop

  nodemanager1:
    image: apache/hadoop:3.4.1
    container_name: nodemanager1
    hostname: nodemanager1
    ports:
      - "8042:8042"
    environment:
      HADOOP_CONF_DIR: /etc/hadoop/conf
      HADOOP_HEAPSIZE: "256"
    volumes:
      - ./conf/core-site.xml:/etc/hadoop/conf/core-site.xml
      - ./conf/hdfs-site.xml:/etc/hadoop/conf/hdfs-site.xml
      - ./conf/yarn-site.xml:/etc/hadoop/conf/yarn-site.xml
      - ./conf/capacity-scheduler.xml:/etc/hadoop/conf/capacity-scheduler.xml
      - ./conf/mapred-site.xml:/etc/hadoop/conf/mapred-site.xml

    command: yarn nodemanager
    depends_on:
      - resourcemanager
    networks:
      - hadoop

  nodemanager2:
    image: apache/hadoop:3.4.1
    container_name: nodemanager2
    hostname: nodemanager2
    ports:
      - "8043:8042"
    environment:
      HADOOP_CONF_DIR: /etc/hadoop/conf
      HADOOP_HEAPSIZE: "256"
    volumes:
      - ./conf/core-site.xml:/etc/hadoop/conf/core-site.xml
      - ./conf/hdfs-site.xml:/etc/hadoop/conf/hdfs-site.xml
      - ./conf/yarn-site.xml:/etc/hadoop/conf/yarn-site.xml
      - ./conf/capacity-scheduler.xml:/etc/hadoop/conf/capacity-scheduler.xml
      - ./conf/mapred-site.xml:/etc/hadoop/conf/mapred-site.xml
    command: yarn nodemanager
    depends_on:
      - resourcemanager
    networks:
      - hadoop

  nodemanager3:
    image: apache/hadoop:3.4.1
    container_name: nodemanager3
    hostname: nodemanager3
    ports:
      - "8044:8042"
    environment:
      HADOOP_CONF_DIR: /etc/hadoop/conf
      HADOOP_HEAPSIZE: "256"
    volumes:
      - ./conf/core-site.xml:/etc/hadoop/conf/core-site.xml
      - ./conf/hdfs-site.xml:/etc/hadoop/conf/hdfs-site.xml
      - ./conf/yarn-site.xml:/etc/hadoop/conf/yarn-site.xml
      - ./conf/capacity-scheduler.xml:/etc/hadoop/conf/capacity-scheduler.xml
      - ./conf/mapred-site.xml:/etc/hadoop/conf/mapred-site.xml
    command: yarn nodemanager
    depends_on:
      - resourcemanager
    networks:
      - hadoop

  historyserver:
    image: apache/hadoop:3.4.1
    container_name: historyserver
    hostname: historyserver
    ports:
      - "19888:19888"
    environment:
      HADOOP_CONF_DIR: /etc/hadoop/conf
      HADOOP_HEAPSIZE: "256"
    volumes:
      - ./conf/core-site.xml:/etc/hadoop/conf/core-site.xml
      - ./conf/hdfs-site.xml:/etc/hadoop/conf/hdfs-site.xml
      - ./conf/yarn-site.xml:/etc/hadoop/conf/yarn-site.xml
      - ./conf/mapred-site.xml:/etc/hadoop/conf/mapred-site.xml
      - historyserver_data:/hadoop/yarn/timeline
    command: mapred historyserver
    depends_on:
      - resourcemanager
    networks:
      - hadoop

volumes:
  namenode_data:
  datanode1_data:
  datanode2_data:
  datanode3_data:
  historyserver_data:

networks:
  hadoop:
    driver: bridge
