services:
  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin123456"
    volumes:
      - ./data:/data
    networks:
      - minio-net
  aws-cli:
    image: amazon/aws-cli:latest
    ports:
      - "9002:9002"
    environment:
      AWS_ACCESS_KEY_ID: "minioadmin"
      AWS_SECRET_ACCESS_KEY: "minioadmin123456"
    entrypoint: ["/bin/sh", "-c"]
    command: ["sleep infinity"]
    networks:
      - minio-net
    depends_on:
      - minio
    volumes:
      - ./data:/data
  # nifi:
  #   image: apache/nifi:latest
  #   ports:
  #     - "9443:9443"
  #   environment:
  #     SINGLE_USER_CREDENTIALS_USERNAME: admin
  #     SINGLE_USER_CREDENTIALS_PASSWORD: ctsBtRBKHRAx69EqUghvvgEvjnaLjFEB
  #     NIFI_WEB_HTTPS_PORT: "9443"
  #   networks:
  #     - minio-net
  #   depends_on:
  #     - minio
  #   volumes:
  #     - ./data:/data
  #     - ./ext/nifi-parquet-nar-2.6.0.nar:/opt/nifi/nifi-current/nar_extensions/nifi-parquet-nar-2.6.0.nar
  #     - ./ext/nifi-hadoop-libraries-nar-2.6.0.nar:/opt/nifi/nifi-current/nar_extensions/nifi-hadoop-libraries-nar-2.6.0.nar
  #     - ./ext/postgresql-42.7.8.jar:/opt/nifi/lib/postgresql-42.7.8.jar
  #     - ./csv:/opt/nifi/csv
  #     - ./csv:/home/csv
networks:
  minio-net:
